&input
  asr     = '{{ asr }}',
  flfrc   = '{{ flfrc }}',
  dos     = .true.,
  fldos   = '{{ fldos }}',
  flfrq   = '{{ flfrq }}',
  nk1     = {{ nk[0] }},
  nk2     = {{ nk[1] }},
  nk3     = {{ nk[2] }},
  deltaE  = {{ deltaE }},
/
